<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>Task Manager App</title>
</head>
<body>
    <div class="title">Task Manager!</div>
    <div class="task_manager">
        <div class="tasks">
            <ul class="tasks">
                {% for task in tasks %}
                    <li class="task">
                        <!-- Checkbox & task content -->
                        <div class="task-content">
                            <input class="checkbox" type="checkbox" id="{{task.id}}" {% if task.completed %} checked {% endif %}>
                            <div class="task-description">{{ task.description }}</div>
                        </div>
                        <!-- Delete and edit buttons -->
                        <div class="task-options">
                            <form action="{{ url_for('delete', id=task.id) }}" method="POST">
                                <button class="delete-button" name="delete" value="delete" type="submit">Delete Task</button>
                            </form>
                            <button class="edit-button" id="{{task.id}}" name="edit" value="edit" type="submit" onclick="handleEdit('{{ task.id }}')">Edit Task</button>
                        </div>
                         <!-- Edit window popup -->
                        <div class="edit-window" id="edit-window-{{task.id}}">
                            <form id="{{task.id}}" class="edit-task" action="{{ url_for('edit', id=task.id) }}" method="POST">
                                <label for="task-description">Edit Task:</label>
                                <input type="text" name="task-description" id="task-description" placeholder="Insert task description...">
                                <input type="submit">
                            </form>
                            <button type="text" class="close-button" name="close-button" value="close-button" onclick="handleEdit('{{ task.id }}')">X</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Adding task option -->
        <div class="add-task"> 
            <form class="add-task-form" action="{{ url_for('add') }}" method="POST">
                <label for="task-description">Add New Task:</label>
                <input type="text" id="task-description" name="task-description" placeholder="Insert task description...">
                <input type="submit">
            </form> 
        </div>
    </div>
    <script>

        let checkboxes = document.querySelectorAll('.checkbox'); 

        async function handleCheck(checkbox) { 
            try { 
                // Always make sure to send headers with the request, 
                // otherwise it won't parse the request correctly 
                const headers = new Headers(); 
                headers.append("Content-Type", "application/json"); 
                const response = await fetch(`/checked/${checkbox.id}`, 
                {
                    method: "POST", 
                    body: JSON.stringify({checked: checkbox.checked}), 
                    headers: headers
                }); 
                // This following code isn't strictly necessary because 
                // we just render templates or redirect in our response, but it is an 
                // important problem to address. 
                if (!response.ok) {
                    throw Error(); 
                }
                const json = await response.json();
            } catch(err) { 
                console.log(err); 
            }
        }

        // Listen for any change to the checkbox, on any change 
        // trigger an API call to the corresponding endpoint
        checkboxes.forEach((checkbox) => {  
            if (!checkbox.dataset.listener) {
                checkbox.addEventListener('click', () => {
                    handleCheck(checkbox)
                    checkbox.dataset.listener = "True"
                })
            }}); 
        
        // Attach a click-handler to the button to open 
        // an edit pop-up. When you click it, toggle the 
        // class name to 'show' it instead of redirecting to a different page. 
        async function handleEdit(id) { 
            try { 
                let popup = document.getElementById(`edit-window-${id}`);
                popup.classList.toggle("show"); 
            } catch(err) { 
                console.log(err); 
            }
        }

    </script>
</body>
</html>